.Dropdown-control {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 0px 23px 0px 10px;
    transition: all 200ms ease;
    overflow: unset;
}
.dropdownContainer {
    display: inline-block;
    min-width: 325px;
}
.stemSelect {
    font-size: 20px;
}
.tracksContainer {
    padding: 15px 0;
}
.addTrackButton {
    display: inline-block;
    float: right;
    border-radius: 2px;
    cursor: pointer;
    padding: 6px;
    border: none;
}
.addTrackButtonContainer {
    overflow: hidden;
}
