.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
button {
  background: transparent;
  color: white;
  outline: none;
  border: 3px solid white;
  cursor: pointer;
  transition: all 0.07s;
}
button:hover {
  background-color: white;
  color: #282c34;
  transition: all 0.07s;
}
button:focus {
  outline: none
}
